# Site settings
title: Välkommen på min 40årsfest

description: ""
baseurl: "/40"
github_username:  p-jo

# Build settings
markdown: kramdown

# Defaults
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "article"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"

# Settings
exclude:  [".sass-cache", "bower_components"]
